#* @vtlvariable name="siteConfig" type="org.nrg.xdat.preferences.SiteConfigPreferences" *#
<table>
 <tr>
  <td>
   <div id="subject_placeholder">$!om.getSubjectData().getLabel() </div><input type="hidden" id="$om.getXSIType()/subject_id" name="$om.getXSIType()/subject_id" value="$!om.getSubjectId()"/>
  </td>
  <td>
  #if($siteConfig.uiExptAllowSubjectChange)
      <a onclick="modifySubject();">
          <i class="fa fa-edit" title="Edit Subject"></i>
      </a>
  #end
  </td>
 </tr>
</table>
<script type="text/javascript">  

   	             var create_subject_link ="$link.setPage('XDATScreen_edit_xnat_subjectData.vm').addPathInfo('popup','true')";
	                create_subject_link+="/destination/JS_Parent_Return.vm/project/"+window.currentProject;
	                
  function modifySubject(){
   if(window.currentProject!=""){
    if(window.subjectEditor==undefined){
      var config=new Object();
	  
	  #if($siteConfig.uiAllowSubjectCreateFromExptEdit)
	  	config.create_subject_link=create_subject_link;
	  #end

      if(window.currentID!=""){
        config.uri=serverRoot +"/REST/projects/" + window.currentProject +"/subjects/" + window.currentSubject + "/experiments/" + window.currentID;
      }
      window.subjectEditor=new SubjectEditor(config);
      window.subjectEditor.onModification.subscribe(function (obj){
         document.getElementById("subject_placeholder").innerHTML=this.new_subject_name;
         document.getElementById("$om.getXSIType()/subject_id").value=this.new_subject;
         $(document.getElementById("$om.getXSIType()/subject_id")).change();
         config.uri=serverRoot +"/REST/projects/" + window.currentProject +"/subjects/" + window.currentSubject + "/experiments/" + window.currentID;
         confirmValues();
      });
      window.subjectEditor.render();
    }else{
      window.subjectEditor.refresh();
    }
    window.subjectEditor.panel.show();
   }else{
     xmodal.message('Modify Subject', 'Please select a $displayManager.getSingularDisplayNameForProject().toLowerCase() before selecting a $displayManager.getSingularDisplayNameForSubject().toLowerCase().');
     modifyProject();
   }
  }
  
</script>