
/* custom wrappers for selectable table */
.data-table-titlerow {
}
.data-table-actionsrow {
    background-color: #bbb;
    margin-top: 6px;
    padding: 3px 6px;
}
.data-table-action {
    font-weight: bold;
}
.data-table-title {
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    padding: 6px 0 0;
}

.data-table-footer {
    padding: 6px 0;
}


/* dropdown menus for table header */
.dropdown {
    position: relative;
    z-index: 2;
}
.dropdown button {
    background: #f8f8f8 linear-gradient( #ffffff, #f0f0f0 );
    border: 1px solid #a0a0a0;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(153,153,153,0.4);
    font-weight: bold;
    padding: 6px 0 6px 12px;
}
.dropdown:hover button {
    background: #f0f0f0;
    box-shadow: none;
    border-radius: 3px 3px 0 0;
}

.xnat-table th.dropdown-container {
    padding: 0;
}
.dropdown-label {
    color: #444;
    padding-right: 9px;
}
.dropdown-label:before {
    font-family: "FontAwesome";
    color: #a0a0a0;
    content: "\f0d7";
    float: right;
    font-size: 11px;
    line-height: 11px; 
    margin-right: 9px;
    margin-top: 2px;
}
.dropdown-menu, .dropdown-submenu {
    display: none;
    background: #fff;
    border: 1px solid #aaa;
    -moz-box-shadow: 0 2px 2px rgba(132, 132, 132, 0.8);
    -webkit-box-shadow: 0 2px 2px rgba(132, 132, 132, 0.8);
    box-shadow: 0 2px 2px rgba(132, 132, 132, 0.8);
    list-style-type: none;
    min-width: 100px;
    padding: 0;
    position: absolute;
    text-align: left;
    width: 150%;
}
.dropdown-menu > li, .dropdown-submenu > li {
    padding: 6px 12px;
}
.dropdown-menu > li.has-submenu {
    padding-right: 9px;
}
.dropdown-menu > li.has-submenu:before {
    font-family: "FontAwesome";
    color: #a0a0a0;
    content: "\f0da";
    float: right;
    font-size: 11px;
    margin-top: 2px;
}

.dropdown-menu > li:hover, .dropdown-submenu > li:hover {
    background-color: #e5f2ff;
}

.dropdown:hover:not(.disabled) .dropdown-menu {
    display: block;
    top: 19px;
    left: 0px;
    margin-top: 0;
}

.dropdown-menu > li.has-submenu:hover .dropdown-submenu {
    display: block;
    top: -1px;
    left: 98%;
}

.dropdown.light { background-color: #fff; }
.dropdown.light:hover { background-color: #e5f2ff; }
.dropdown.light .dropdown-label { color: inherit; }

.dropdown.dark { background: #04519b linear-gradient(#04519b, #044687 60%, #033769); }
.dropdown.dark:hover { background-color: #1A75BB; }
.dropdown.dark .dropdown-label { color: #fff; }

.dropdown-sm button {
    font-size: 12px;
    padding: 5px 0 5px 9px;
}

.textlink {
    background: inherit;
    font-size: 13px;
    padding: 6px 12px;
}
.textlink-sm {
    font-size: 12px;
    padding: 5px 9px;
}
.data-table-action.disabled button {
    opacity: 0.6;
    background: #e0e0e0;
    border-color: #c0c0c0;
    color: rgb(0,0,0);
}


/* container for action icons inside table cells */
.inline-actions {
    background-color: #e4efff;
    display: none;
    padding: 3px 6px;
    position: absolute;
    right: 0;
    bottom: 3px;
}
.inline-actions i {
    border-radius: 2px;
    cursor: pointer;
    opacity: 0.85;
    padding: 3px;
    margin-right: 0;
}
.inline-actions i:hover {
    background-color: #c5e2ff;
    opacity: 1;
}
.inline-actions-menu-toggle {
    border-radius: 2px;
    cursor: pointer;
    height: 24px;
    text-align: center;
    width: 100%;
}
.inline-actions-menu-container .inline-actions-menu-toggle:before {
    content: "\f0da";
    font-family: "FontAwesome","Font Awesome";
}
.inline-actions-menu-container.active .inline-actions-menu-toggle {
    background-color: #c5e2ff;
}
.inline-actions-menu-container.active .inline-actions-menu-toggle:before {
    content: "\f0d7";
}
.inline-actions-menu {
    background-color: #fff;
    border: 1px solid #848484;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute; right: 4px; top: 20px;
    z-index: 2;
}
.inline-actions-menu-toggle.active {
    /*background-color: #c5e2ff;*/
    background-color: #fff;
}

.inline-actions-menu-container .menu-toggle-icon-standard,
.inline-actions-menu-container.active .menu-toggle-icon-active {
    display: block;
}
.inline-actions-menu-container .menu-toggle-icon-active,
.inline-actions-menu-container.active .menu-toggle-icon-standard {
    display: none;
}
.inline-actions-menu li {
    font-weight: bold;
    padding: 3px 6px;
    width: 160px;
}
.inline-actions-menu li:hover {
    background-color: #c5e2ff;
}

.xnat-table.selectable {
    border: none;
    width: 100%;
}
.xnat-table.selectable td {
    position: relative;
    vertical-align: top;
}
.xnat-table.selectable td[class$="-id"] {
    max-width: 120px;
    word-wrap: break-word;
}
.xnat-table.selectable td[class$="-type"] {
    max-width: 200px;
    word-wrap: break-word;
}
.xnat-table.selectable td[class$="-description"] {
    max-width: 200px;
    word-wrap: break-word;
}
.xnat-table.selectable tr:hover {
    background-color: #e4efff;
}
.xnat-table.selectable tr:hover .inline-actions {
    display: inline-block;
}

.pull-right {
    float: right;
}
.pull-left {
    float: left;
}

.tab-container {
    overflow-x: auto;
}

.data-table-container {
    width: max-content;
    width: -moz-max-content;    /* Firefox/Gecko */
    width: -webkit-max-content; /* Chrome */
}

.scrollable-table td {
    word-break: break-word;
}

.scrollable-table td.launchTime {
    white-space: nowrap;
}

.scrollable-table tbody, .scrollable-table thead {
    display: block;
    overflow-y: scroll; /* XNAT-6500 */
}
.scrollable-table tbody {
    overflow-y: auto;
    max-height: 600px;
}

.data-table-container .counts{
    margin:10px;
}

.bl-dropdown-menu{
    z-index: 1000;
    display:block;
    visibility: hidden;
    float: left;
    min-width: 10rem;
    width: max-content;
    padding: .5rem 0;
    margin: .125rem 0 0;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    top: 0px;
    left: 0px;
    position: absolute;
}
.bl-dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
.workflows-callout span.close {
    float: right;
    cursor: pointer;
    margin: -8px -4px;
}
.workflows-callout {
    display: none;
    margin-top: 1em;
}


.section{
    margin-top: 1em;
}

.progressbar-div {
    float: left;
    width: 100%;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #f0f0f0;
    background-color: #f0f0f0;
    -webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 1px 0 rgba(0,0,0,.15);
    border-radius: 5px;
    margin-bottom: 2px;
}


@-webkit-keyframes progress-bar-stripes {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 30px 0;
    }
}
@-moz-keyframes progress-bar-stripes {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 30px 0;
    }
}
@-ms-keyframes progress-bar-stripes {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 30px 0;
    }
}
@-o-keyframes progress-bar-stripes {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 30px 0;
    }
}
@keyframes progress-bar-stripes {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 30px 0;
    }
}

.progress-bar {
    color: #fff;
    width: 100%;
    height: 100%;
    text-align: center;
    word-break: normal;
    white-space: nowrap;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 1px 0 rgba(0,0,0,.15);
    background-color: #2d69b8;;
    background-image: linear-gradient(45deg, rgba(255,255,255,.15) 25%, transparent 25%, transparent 50%,
    rgba(255,255,255,.15) 50%, rgba(255,255,255,.15) 75%, transparent 75%, transparent);
    background-size: 1rem 1rem;
    -webkit-animation: progress-bar-stripes 1s linear infinite;
    -o-animation: progress-bar-stripes 1s linear infinite;
    animation: progress-bar-stripes 1s linear infinite;
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}

.progress-bar-done {
    color: #fff;
    width: 100%;
    height: 100%;
    text-align: center;
    word-break: normal;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 1px 0 rgba(0,0,0,.15);
    background-color: #2d69b8;;
    background-size: 1rem 1rem;
}